* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Josefin Sans', sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto; 
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;

}

.grey-font{
    color: #B0B0B0;

}


/* HEADER */

#main-header {
    height: 150px;
    /* border: 1px solid blue;  */
    margin: 20px 0;

}


#logo-img {
    height:100px;
    vertical-align: middle;
    margin-left: 20px;
    border-right: 1px solid lightgrey;
    padding-right: 20px;
    
    

}

main img{
    filter: invert(20%);/*da segnare */

}

/* NAVBAR */

#nav{ 
    /* border: 1px solid blue;  */
    height: 50px; 
    margin: 30px 0; 

}
ul li {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    margin: 0 10px; 
}

li > a{
    text-decoration: none;
    color: #B0B0B0;
    font-size: 15px;
    
}

 .overlay{
    background: rgba(0, 0, 0, 0.2);
    overflow: hidden;
    height: 100%;
    z-index: 2;
    border-radius: 20px;

 }
 
    
/* MAIN BANNER */

main{
    margin: 50px 0;
}

.banner{
    
    height: 500px;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    /* filter: invert(15%);da segnare */
    
}

.banner-text{
    width: 600px;
    padding:350px 20px;
    color: white; 
    
}

.banner-text p{
    font-size: 20px;
}


/* LOWER MAIN */

#mini-header{
    margin: 30px 0;
    font-size: 20px;
    
}

#mini-header *{
    margin: 10px 0; 
}

.lower{
    margin: 50px 0;
    height: 600px; 
    
}
.columns{
    height: 300px;
    width: 100%;
}
 div.col{
    float: left;
    width: calc((50%/2) - 20px);
    
    
}

.columns .col:nth-child(2){
    width:50%;
    margin:0 20px; 

}
.columns div p{
    color: grey;
    margin-top: 20px;
}

.col img{
    width: 100%;
    border-radius:20px ;
    height: 200px;
    object-fit: cover; /*da segnare */;
    margin-bottom: 20px; 
    
    

}

/* FOOTER */

footer{
    text-align: center;
    margin-bottom: 50px;
}
